<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>portal</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>60</session-timeout>
  </session-config>
  <error-page>
    <error-code>404</error-code>
    <location>/admin/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/admin/error.jsp</location>
  </error-page>
  <servlet>
    <description>Buscador de Leis</description>
    <display-name>SeekerFacade</display-name>
    <servlet-name>SeekerFacade</servlet-name>
    <servlet-class>br.gov.go.camarajatai.sislegisold.requests.SeekerFacade</servlet-class>
    <init-param>
      <description></description>
      <param-name>lei</param-name>
      <param-value>0</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>SeekerFacade</servlet-name>
    <url-pattern>/seeker</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Classe de inserção de itens de lei</description>
    <display-name>InsertionItemLeiFacade</display-name>
    <servlet-name>InsertionItemLeiFacade</servlet-name>
    <servlet-class>br.gov.go.camarajatai.sislegisold.requests.InsertionItemLeiFacade</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertionItemLeiFacade</servlet-name>
    <url-pattern>/insertionItemLei</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Classe de inserção de lei</description>
    <display-name>InsertLeisFacade</display-name>
    <servlet-name>InsertLeisFacade</servlet-name>
    <servlet-class>br.gov.go.camarajatai.sislegisold.requests.InsertLeisFacade</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertLeisFacade</servlet-name>
    <url-pattern>/insertionLeis</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Gerador de Estrutura de Leis</description>
    <display-name>GeneratorLeisFacade</display-name>
    <servlet-name>GeneratorLeisFacade</servlet-name>
    <servlet-class>br.gov.go.camarajatai.sislegisold.requests.GeneratorLeisFacade</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GeneratorLeisFacade</servlet-name>
    <url-pattern>/generatorLeis</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>
  	</description>
    <display-name>LancamentosFacade</display-name>
    <servlet-name>LancamentosFacade</servlet-name>
    <servlet-class>br.gov.go.camarajatai.sislegisold.requests.LancamentosFacade</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LancamentosFacade</servlet-name>
    <url-pattern>/lancamentos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>
  	</description>
    <display-name>EvaluationTextFacade</display-name>
    <servlet-name>EvaluationTextFacade</servlet-name>
    <servlet-class>br.gov.go.camarajatai.sislegisold.requests.EvaluationTextFacade</servlet-class>
  </servlet>
  <servlet>
    <description>
  	</description>
    <display-name>IncludeArqDigitalFacade</display-name>
    <servlet-name>IncludeArqDigitalFacade</servlet-name>
    <servlet-class>br.gov.go.camarajatai.sislegisold.requests.IncludeArqDigitalFacade</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EvaluationTextFacade</servlet-name>
    <url-pattern>/evaluationText</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IncludeArqDigitalFacade</servlet-name>
    <url-pattern>/includeArqDigital</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GenerateFileFacade</display-name>
    <servlet-name>GenerateFileFacade</servlet-name>
    <servlet-class>br.gov.go.camarajatai.sislegisold.requests.GenerateFileFacade</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenerateFileFacade</servlet-name>
    <url-pattern>/downloadFile.pdf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GenerateFileFacade</servlet-name>
    <url-pattern>/downloadFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControlerSislegisFacade</display-name>
    <servlet-name>ControlerSislegisFacade</servlet-name>
    <servlet-class>br.gov.go.camarajatai.sislegisold.requests.ControlerSislegisFacade</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControlerSislegisFacade</servlet-name>
    <url-pattern>/controlerSislegis</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlterarItemLeiFacade</display-name>
    <servlet-name>AlterarItemLeiFacade</servlet-name>
    <servlet-class>br.gov.go.camarajatai.sislegisold.requests.AlterarItemLeiFacade</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlterarItemLeiFacade</servlet-name>
    <url-pattern>/alterarItemLei</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RevogarItemLeiFacade</display-name>
    <servlet-name>RevogarItemLeiFacade</servlet-name>
    <servlet-class>br.gov.go.camarajatai.sislegisold.requests.RevogarItemLeiFacade</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RevogarItemLeiFacade</servlet-name>
    <url-pattern>/revogarItemLei</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MediadorTipos</display-name>
    <servlet-name>MediadorTipos</servlet-name>
    <servlet-class>br.gov.go.camarajatai.sislegisold.requests.MediadorTipos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MediadorTipos</servlet-name>
    <url-pattern>/mediadorTipos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InterpretarResumo</display-name>
    <servlet-name>InterpretarResumo</servlet-name>
    <servlet-class>br.gov.go.camarajatai.sislegisold.requests.InterpretarResumo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InterpretarResumo</servlet-name>
    <url-pattern>/interpretarResumo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PendenciasFacade</display-name>
    <servlet-name>PendenciasFacade</servlet-name>
    <servlet-class>br.gov.go.camarajatai.sislegisold.requests.PendenciasFacade</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PendenciasFacade</servlet-name>
    <url-pattern>/pendencias</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RevogarLeiFacade</display-name>
    <servlet-name>RevogarLeiFacade</servlet-name>
    <servlet-class>br.gov.go.camarajatai.sislegisold.requests.RevogarLeiFacade</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RevogarLeiFacade</servlet-name>
    <url-pattern>/revogarLei</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExcluirLeiFacade</display-name>
    <servlet-name>ExcluirLeiFacade</servlet-name>
    <servlet-class>br.gov.go.camarajatai.sislegisold.requests.ExcluirLeiFacade</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcluirLeiFacade</servlet-name>
    <url-pattern>/excluirLei</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SislegisToLexml</display-name>
    <servlet-name>SislegisToLexml</servlet-name>
    <servlet-class>br.gov.go.camarajatai.sislegisold.lexml.SislegisToLexml</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SislegisToLexml</servlet-name>
    <url-pattern>/generateLexml</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OleriteFacade</display-name>
    <servlet-name>OleriteFacade</servlet-name>
    <servlet-class>br.gov.go.camarajatai.sislegisold.requests.OleriteFacade</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OleriteFacade</servlet-name>
    <url-pattern>/olerite.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CertidaoFacade</display-name>
    <servlet-name>CertidaoFacade</servlet-name>
    <servlet-class>br.gov.go.camarajatai.sislegisold.requests.CertidaoFacade</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CertidaoFacade</servlet-name>
    <url-pattern>/certidao.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExportToSaplFacade</display-name>
    <servlet-name>ExportToSaplFacade</servlet-name>
    <servlet-class>br.gov.go.camarajatai.sislegisold.requests.ExportToSaplFacade</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExportToSaplFacade</servlet-name>
    <url-pattern>/toSapl</url-pattern>
  </servlet-mapping>
</web-app>